


.events-heading{
    text-align: center;
    margin-top: 30px;
    font-size: 4rem;
    cursor: pointer;
    color: rgb(33, 53, 238);
    font-weight: bold;
}

.events-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 98%;
    margin: 30px auto;

}

.event-card{
    
    box-shadow:0 0px 1px 0px rgba(0,0,0,0.4);
    background-color: red;
   
}
.event-image{
    width: 100%;
    object-fit: cover;
}
.event-title{
    text-align: center;
    font-size: 38px;
    margin: 10px 0px;
    font-weight: bold;
    color: cornflowerblue;
}
.event-ticket-price{
    color: rgb(57, 14, 14);
    text-align: center;
}
.event-read{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content:center;
    padding: 8px;
   
}


/* CSS for Eventdetails component */
.event-details {
    
    margin: 20px;
  }
  
  .event-image img {
    width: 50%;
    margin-left: auto;
    border-radius: 10px;
    height: 500px; /* Adjust the height to your desired value */
    object-fit: fill;
  }
  
  .event-info {
    margin: 20px;
    width: 60%;
  }
  
  .event-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .event-info p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .event-info ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  
  .event-info ul li {
    margin-bottom: 5px;
  }
  
  .event-info h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .event-info ul img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .event-info ul p {
    display: inline-block;
    vertical-align: middle;
  }
  